.table {
  &__options {
    display: flex;
    justify-content: space-between;
  }
}
#search-bar-0-label {
  display: none;
}

.sr-only {
  display: none;
}

.sortable,
th {
  font-size: 0.7rem;
}
.react-bootstrap-table-pagination-list {
  width: 7.5rem;
}
.react-bootstrap-table-pagination {
  justify-content: space-between;
}
/* Missing from Boostrap CSS */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown,
.dropup {
  position: relative;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
}
